[submodule "third_party/unetd"]
	path = third_party/unetd
	url = https://github.com/openwrt/unetd.git
[submodule "third_party/libubox"]
	path = third_party/libubox
	url = https://github.com/openwrt/libubox.git
